@CHARSET "UTF-8";

		/*물물교환 게시판  */
			.content{
			position: absolute;
			top:20%;
		}
		.Al1,.Al5{
			text-align: center;
		}
 		 table.Al_board1{
           		border-top-color : black;				
				border-bottom-color : black;
				width : 100%;
         }
         
         .Al_board2 td{
            border-bottom:1px solid #bcbcbc;
         }
         table.Al_board2{
         	width:100%;
         }
         td#btn_write, td#Al_pageNum{
            border-bottom-color : black;   
         }      
         td#Al_sub{
            font-size : 30pt;
            text-align : center;                           
         }         
         .Al_subject{
			 	text-align : center;
            	background-color : #434441;
            	color: white;
         }
         td.Al4{
          text-align: center;
         }
         a.listpage{
				text-decoration: none;
				color: black;
			}
			.listpage:hover{
			  color: #E15959;
			}
		.a2{
			 text-decoration: none;
			 color: black;
			}	
            /* 버튼 css */
         #AlQna
         {
         -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
         -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
         box-shadow:inset 0px 1px 0px 0px #ffffff;
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
         background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
         background-color:#ffffff;
         -moz-border-radius:6px;
         -webkit-border-radius:6px;
         border-radius:6px;
         border:1px solid #dcdcdc;
         display:inline-block;
         cursor:pointer;
         color:#666666;
         font-family:Arial;
         font-size:15px;
         font-weight:bold;
         padding:6px 24px;
         text-decoration:none;
         text-shadow:0px 1px 0px #ffffff;
         }
         
         #AlQna:hover {
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
         background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
         background-color:#f6f6f6;
         }
         
         #AlQna:active {
         position:relative;
         top:1px;
      } 
      /* 글쓰기 */
       #center{      
        	font-size:30px;           
            text-align: center;
            text-align: center;            
        }
        
        table#boardwrite{
				width:100%;
		}
			
		table#boardwrite td{
				border :0.5px solid gray;
				border-collapse : collapse;
				padding: 5px;
				text-align: center;
			}
		input.text{
			width:100%;
		}
		
		textarea#content{
			width:100%;
			resize:none;				
		}
		
		#paging{
			text-align: center;
		}
		.button{
			position: relative;
			left: 280px;
		}
		/* 버튼 css */
		.button
		{
			-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
			-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
			box-shadow:inset 0px 1px 0px 0px #ffffff;
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
			background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
			background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
			background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
			background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
			background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
			background-color:#ffffff;
			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			border-radius:6px;
			border:1px solid #dcdcdc;
			display:inline-block;
			cursor:pointer;
			color:#666666;
			font-family:Arial;
			font-size:15px;
			font-weight:bold;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #ffffff;
		}
		.button:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
			background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
			background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
			background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
			background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
			background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
			background-color:#f6f6f6;
		}
		.button:active {
			position:relative;
			top:1px;
		}
      
      