@CHARSET "UTF-8";
/* 패션토크 게시판  */
			
			.content{
			position: absolute;
			top:20%;
			}
			table.Ft_board1{
				border-top-color : black;				
				border-bottom-color : black;
				width : 100%;
			}
			.Ft_board2 td{
			  border-bottom:1px solid #bcbcbc;
			}
			table.Ft_board2{
				width : 100%;
			}
			table.Ft_board3 td{
				border-top: 1px solid #bcbcbc;
			}
			td#btn_write, td#Ft_pageNum{
				border-bottom-color : black;	
			}		
			td#Ft_sub{
				font-size : 30pt;
				text-align : center;									
			}	
			
			a.subject{
				color: black;
			}
			.subject:hover{
			  color: #E15959;
			}
 			.tog1
         {
            visibility: hidden;
         }
         .tog2
         {
            display: none;
         }
         #texta
         {
            width: 690px;
            resize: none;
         }
         .user
         {
            width: 50px;
            
         }
         .Relecontent
         {
            width: 700px;
         }
         .a2{
         	text-decoration: none;
         	color: black;
         	
         }
       /* 버튼 css */
         #FTQna,.FTupdate
         {
         -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
         -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
         box-shadow:inset 0px 1px 0px 0px #ffffff;
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
         background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
         background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
         background-color:#ffffff;
         -moz-border-radius:6px;
         -webkit-border-radius:6px;
         border-radius:6px;
         border:1px solid #dcdcdc;
         display:inline-block;
         cursor:pointer;
         color:#666666;
         font-family:Arial;
         font-size:15px;
         font-weight:bold;
         padding:6px 24px;
         text-decoration:none;
         text-shadow:0px 1px 0px #ffffff;
         }
         
         #FTQna:hover,.FTupdate:hover {
         background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
         background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
         background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
         background-color:#f6f6f6;
         }
         
         #FTQna:active,.FTupdate:active {
         position:relative;
         top:1px;
      } 
    
      