@CHARSET "UTF-8";
/*메인 페이지 중앙  */

			div.bord{
				border-top-style: solid;
				border-top-color: black;
				height: 200px;		
			}
			
			div.bord1{				
				border-top-style: solid;
				border-top-color: black;			
			}
			
			div.bord1-1{
				float: left;	
				width: 47%;
				height: 150px;
			}
			
			div.bord2{							
				border-top-style: solid;
				border-top-color: black;			
			}
						
			div.bord2-1{
				float: right;	
				width: 47%;
				height: 150px;
			}
			.jump
			{
				width: 300px;
				height: 150px;
			}
			.fonts{
				font-size: 20px;
			}