@CHARSET "UTF-8";
/*메인 페이지 중앙  */
			div.content{
				margin: 10px;
			}
			div.bord{
				border-top-style: solid;
				border-top-color: pink;
				height: 200px;
			}
			div.bord1{
				float: left;	
				border: 1px solid;
				width: 47%;
				height: 200px;
			}
			div.bord2{
				float: right;	
				border: 1px solid;
				width: 47%;
				height: 200px;
			}