<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.main.dao.ProjectInterface">

 	<!-- 로그인 처리  -->
	<select id="login" resultType="String">
		SELECT ID FROM JOIN_REG WHERE ID=#{param1} AND PW=#{param2}
	</select>
	
</mapper>